<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h3><%= if typeof msg !== 'undefined' ? msg : '' %></h3>
    <form
      action="http://localhost:3030/1/image"
      method="POST"
      ,
      enctype="multipart/form-data"
    >
      <div class="btn-grey">
        <span>File</span>
        <input name="filename" type="file" />
      </div>
      <img
        src="<%= if typeof file !== 'undefined' ? file : '' %>"
        alt="uploaded image"
      />
    </form>
  </body>
</html>
